In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv("C:/Users/steven.luo/Documents/Machine Learning/XGBoost stock predict/Naive and Prophet/TUP (2).csv") 
data.head(5)

         Date       Open       High        Low      Close  Adj Close  Volume
0  2018-10-11  30.100000  30.670000  29.820000  30.520000  28.732052  864300
1  2018-10-12  31.000000  31.049999  29.830000  30.090000  28.327242  630300
2  2018-10-15  29.860001  31.490000  29.860001  31.090000  29.268660  462500
3  2018-10-16  31.360001  32.849998  30.920000  32.700001  30.784342  774800
4  2018-10-17  31.629999  32.459999  30.990000  32.049999  30.172419  613600

In [3]:
data.describe()

,Open,High,Low,Close,Adj Close,Volume
count,1256.000000,1256.000000,1256.000000,1256.000000,1256.000000,1.256000e+03
mean,15.545701,15.978790,15.119236,15.535191,15.348916,2.527752e+06
std,10.934659,11.158148,10.707986,10.935234,10.681127,1.114865e+07
min,0.610000,0.680000,0.610000,0.620000,0.620000,2.233000e+05
25%,5.320000,5.592500,4.850000,5.245000,5.245000,6.068750e+05
50%,15.160000,15.590000,14.895000,15.235000,15.170127,9.088500e+05
75%,23.905000,24.399999,23.342500,23.842500,23.809999,1.702625e+06
max,38.669998,38.900002,38.049999,38.730000,37.779999,2.090585e+08

In [4]:
# Select only the important features i.e. the date and price
data = data[["Date","Close"]] # select Date and Price
# Rename the features: These names are NEEDED for the model fitting
data = data.rename(columns = {"Date":"ds","Close":"y"}) #renaming the columns of the dataset
data.head(5)

           ds          y
0  2018-10-11  30.520000
1  2018-10-12  30.090000
2  2018-10-15  31.090000
3  2018-10-16  32.700001
4  2018-10-17  32.049999

In [ ]:
from fbprophet import Prophet
m = Prophet(daily_seasonality = True) # the Prophet class (model)
m.fit(data) # fit the model using all data